{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [
              ">0.02%"
            ]
          },
          "useBuiltIns": "usage",
          "corejs": 3
        }
      }
    ]
  ]
}
